<?xml version="1.0"?>
<robot name="realsense2_camera" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="../urdf/_d435.urdf.xacro" />
  
  <xacro:arg name="use_nominal_extrinsics" default="True" />
  <link name="rs_ee" />
  <xacro:sensor_d435 parent="rs_ee" name="camera_bottom">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:sensor_d435>
  <xacro:sensor_d435 parent="rs_ee" name="camera_top">
    <origin xyz="0 0 0.2" rpy="0 0 0"/>
  </xacro:sensor_d435>
</robot>
